@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  color: #FFFFFF;
}

/* General component styling */
.component {
  border: 2px solid rgb(109, 91, 57);
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

/* Header */
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 640px) {
  .header-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Projects */
.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

@media (min-width: 640px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.project-card {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(137, 80, 80);
  padding: 1rem;
  border-radius: 0.5rem;
}

.project-card img {
  width: 100%;
  height: 12rem; /* 192px */
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}

.project-card p {
  flex-grow: 1;
  margin-bottom: 1rem;
}

/* Spotify Player */
.spotify-player {
  max-width: 500px;
  margin: 2rem auto;
  border: 2px solid rgb(56, 111, 47);
  padding: 1rem;
  border-radius: 0.5rem;
}

/* Footer */
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
